# Dependencies
node_modules

# Next.js
.next/
out/

# Environment variables
.env
.env.local
.env.*.local

# Prisma
/lib/generated/prisma

# Debug
npm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store

# TypeScript
*.tsbuildinfo
